$primary-color: #2C3E50;
$secondary-color: #E74C3C;
$grey: #fcfcfc;
$white: #ffffff;
$black: #000000;


//Colores de texto
.text-secondary
{
  color: $secondary-color;
}
.text-grey
{
  color: $grey;
}
.text-disabled
{
  color: darken($grey, 30);
}

//Colores de backgroud
.background-primary
{
  background-color: $primary-color;
}
.background-secondary
{
  background-color: $secondary-color;
}